*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button{
    padding: 5px 10px;
    font-size: 20px;
}
#Counter{
    font-size: 25px;
  padding: 5px 15px;
  border: 1px solid black;
}